body {
    padding: none;
    margin: 0;
    font-family: Arial;
}

.start {
    margin: 0;
    color: blue;
}

.start h2 {
    display: inline;
    margin: 0;
}

.start ul {
    margin: 0;
}
.start ul li {
    background: white;
    display: inline-block;
    list-style-type: none;
    padding: 0px 5px;
    margin: 5px 15px 0px 15px;
}

.start img {
    display: inline;
}